* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dis-primary-blue: #255bef;
  --dis-seconday-blue: #8ea1e1;
  --dis-darkgrey: #23272a;
  --dis-lightgrey: #f6f6f6;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    font-size: 42px;
    color: white;
  }

  h2 {
    font-size: 36px;
    padding-bottom: 1rem;
  }

  h3 {
    font-size: 24px;
  }

  p {
    line-height: 24px;
  }
}

.list_unstyled {
  list-style: none;
}

header {
  background-color: var(--dis-primary-blue);
  display: flex;
  justify-content: center;
  padding: 20px;

  .items_header {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    ul.list_unstyled {
      display: flex;
      gap: 2rem;

      a {
        color: white;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    .login {
      background-color: white;
      color: black;
      text-decoration: none;
      padding: 10px 10px 10px;
      border-radius: 40px;
      border-style: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.jumbotron {
  background-image: url(/assets/img/jumbo.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  .container {
    width: 50%;
    display: block;
    text-align: center;

    h1 {
      color: white;
    }


    p {
      padding: 2rem 4rem;
      color: white;
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 4rem;

  input {
    padding: 12px 24px;
    border-radius: 40px;
    border-style: none;
  }

  .white {
    background-color: white;
  }

  .blue {
    background-color: var(--dis-seconday-blue);
    color: white;
  }

  .black {
    background-color: black;
    color: white;
  }
}


.invite_only {
  display: flex;
  justify-content: center;
}

.community {
  display: flex;
  justify-content: center;
  background-color: var(--dis-lightgrey);

  .container {
    flex-direction: row-reverse;
  }
}


.fandom {
  display: flex;
  justify-content: center;
}

.technology {
  background-color: var(--dis-lightgrey);
  display: flex;
  justify-content: center;

  .container {
    width: 50%;
    display: block;
    text-align: center;

    .stars {
      width;
      background-image: url(/assets/img/stars.svg);
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 3.5rem;
    }

    .actions {
      padding-top: 2rem;
    }
  }
}

.container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 5rem;

  .img_items {
    width: 50%;
    margin-top: -1.5rem;
  }

  .text_items {
    width: 30%;
    gap: 1rem;
  }
}


.wave_up {
  width: 100%;
  height: 80px;
  margin-bottom: -0.5rem;
}

.wave_down {
  width: 100%;
  height: 100px;
  transform: rotate(180deg);
  margin-bottom: -0.5rem;
}

footer {
  background-color: var(--dis-darkgrey);
  color: white;

  .info {
    display: flex;
    justify-content: center;

    .items_0 {
      width: 40%;

      h3 {
        color: var(--dis-seconday-blue);
      }

      .language {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        gap: 8px;

        .flag {
          width: 25px;
        }

        .down-arrow {
          width: 18px;
        }
      }

      .direct_link {
        padding-top: 2rem;
        display: flex;
        gap: 20px;

        .icon {
          height: 1.5rem;
        }
      }
    }

    .items_1 {
      width: 20%;

      .title_list {
        font-weight: bold;
        color: var(--dis-seconday-blue);
      }

      ul li {
        list-style: none;
        line-height: 32px;
      }
    }
  }

  .credits {
    display: flex;
    justify-content: center;
  
    .container {
      margin: 0;
      padding-top: 2rem;
      justify-content: space-between;
      border-top: 0.5px solid var(--dis-seconday-blue);
  
      input {
        border: 0;
      }
    }
  }
}

